In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [9]:
df = pd.read_csv('taxi_zone_lookup.csv')

In [18]:
user='root'
pswd='root'
host='localhost'
port='5432'
db='ny_taxi'
tbl_name='taxi_zone_lookup'

In [19]:
conn_str = 'postgresql://{}:{}@{}:{}/{}'.format(user, pswd, host, port, db)
engine = create_engine(conn_str)

In [20]:
df.to_sql(name=tbl_name, con=engine, if_exists='replace')

265